<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Meadowlark Travel</title>
</head>
<body>
    <header><img src="/images/logo.jpg" alt="Meadowlark Travel Logo"/></header>
    {{{body}}}
</body>
</html>